<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id" content="227515129287-qk3sdbg0029cll8adedpg1kuj1vfu7oq.apps.googleusercontent.com">
        <title>Login</title>

        <!-- LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
        <script src='//apis.google.com/js/platform.js?onload=start' async defer></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <!-- GOOGLE PLUS SIGN IN BUTTON -->
        <div id='signinButton'>
            <span class='g-signin2'>
                  <!--data-scope='openid email'
                  data-clientid='227515129287-qk3sdbg0029cll8adedpg1kuj1vfu7oq.apps.googleusercontent.com'
                  data-redirecturi='postmessage'
                  data-accesstype='offline'
                  data-cookiepolicy='single_host_origin'
                  data-callback='signInCallback'
                  data-approvalprompt='force'>-->
          </span>
        </div> <!-- /#signinButton -->
        <!-- END GOOGLE PLUS SIGN IN BUTTON -->

        <div id='result'>
        </div> <!-- /#result -->
    </body>
</html>